/* File: angband.rc */

ANGBAND MENU
{
	POPUP "&File"
	{
		MENUITEM "&New", 100
		MENUITEM "&Open...", 101
		MENUITEM SEPARATOR
		MENUITEM "&Save", 110
		MENUITEM SEPARATOR
		MENUITEM "E&xit", 130
	}

	POPUP "&Window"
	{
		POPUP "&Visibility"
		{
			MENUITEM "Term-0 window", 200
			MENUITEM "Term-1 window", 201
			MENUITEM "Term-2 window", 202
			MENUITEM "Term-3 window", 203
			MENUITEM "Term-4 window", 204
			MENUITEM "Term-5 window", 205
			MENUITEM "Term-6 window", 206
			MENUITEM "Term-7 window", 207
		}

		POPUP "&Font"
		{
			MENUITEM "Term-0 window", 210
			MENUITEM "Term-1 window", 211
			MENUITEM "Term-2 window", 212
			MENUITEM "Term-3 window", 213
			MENUITEM "Term-4 window", 214
			MENUITEM "Term-5 window", 215
			MENUITEM "Term-6 window", 216
			MENUITEM "Term-7 window", 217
		}

		MENUITEM SEPARATOR

		POPUP "Bizarre Display"
		{
			MENUITEM "Term-0 window", 230
			MENUITEM "Term-1 window", 231
			MENUITEM "Term-2 window", 232
			MENUITEM "Term-3 window", 233
			MENUITEM "Term-4 window", 234
			MENUITEM "Term-5 window", 235
			MENUITEM "Term-6 window", 236
			MENUITEM "Term-7 window", 237
		}

		POPUP "Increase Tile Width"
		{
			MENUITEM "Term-0 window", 240
			MENUITEM "Term-1 window", 241
			MENUITEM "Term-2 window", 242
			MENUITEM "Term-3 window", 243
			MENUITEM "Term-4 window", 244
			MENUITEM "Term-5 window", 245
			MENUITEM "Term-6 window", 246
			MENUITEM "Term-7 window", 247
		}

		POPUP "Decrease Tile Width"
		{
			MENUITEM "Term-0 window", 250
			MENUITEM "Term-1 window", 251
			MENUITEM "Term-2 window", 252
			MENUITEM "Term-3 window", 253
			MENUITEM "Term-4 window", 254
			MENUITEM "Term-5 window", 255
			MENUITEM "Term-6 window", 256
			MENUITEM "Term-7 window", 257
		}

		POPUP "Increase Tile Height"
		{
			MENUITEM "Term-0 window", 260
			MENUITEM "Term-1 window", 261
			MENUITEM "Term-2 window", 262
			MENUITEM "Term-3 window", 263
			MENUITEM "Term-4 window", 264
			MENUITEM "Term-5 window", 265
			MENUITEM "Term-6 window", 266
			MENUITEM "Term-7 window", 267
		}

		POPUP "Decrease Tile Height"
		{
			MENUITEM "Term-0 window", 270
			MENUITEM "Term-1 window", 271
			MENUITEM "Term-2 window", 272
			MENUITEM "Term-3 window", 273
			MENUITEM "Term-4 window", 274
			MENUITEM "Term-5 window", 275
			MENUITEM "Term-6 window", 276
			MENUITEM "Term-7 window", 277
		}

    MENUITEM SEPARATOR

		POPUP "Term 0 Font Tile Size"
		{
			MENUITEM "Font",    190
			MENUITEM "8 x 16",  194
			MENUITEM "8 x 8",   191
			MENUITEM "16 x 16", 192
			MENUITEM "32 x 32", 193
			MENUITEM "16 x 32", 196
			MENUITEM "12 x 20", 188
			MENUITEM "16 x 25", 189
		}
	}

	POPUP "&Options"
	{
		POPUP "&Graphics"
		{
			MENUITEM "&None", 400
			MENUITEM SEPARATOR
			MENUITEM "Enable nice &graphics", 445
			MENUITEM SEPARATOR
		  POPUP "&Tile Multiplier"
		  {
			  MENUITEM "&1x1", 447
			  MENUITEM "&2x1", 448
			  MENUITEM "2x2", 450
			  MENUITEM "3x1", 451
			  MENUITEM "&3x3", 452
			  MENUITEM "&4x2", 449
			  MENUITEM "4x4", 453
			  MENUITEM "&6x3", 454
			  MENUITEM "6x6", 455
			  MENUITEM "&8x4", 456
			  MENUITEM "8x8", 457
			  MENUITEM "16x8", 458
			  MENUITEM "16x16", 459
		  }
		}

		MENUITEM SEPARATOR
		MENUITEM "Low Priority", 420
		MENUITEM "Activate Screensaver", 430
		MENUITEM "&Map", 440
		MENUITEM "&Screenshot", 441
	}

	POPUP "&Help"
	{
		MENUITEM "&Contents", 901
	}
}

ANGBAND ICON "angband.ico"

