aclocal.m4
autom4te.cache/
config.log
config.status
configure
lib/apex/scores.*
*.out
lib/save/1000.*
.project
.cproject
*.orig
*.rej
.gitignore
src/tests/bin/
src/angband-master
*.gcov
*.gcda
*.gcno
src/tests/ran-already
.deps
doc/manual/*.aux
mk/buildsys.mk
