aclocal.m4
autom4te.cache/
config.log
config.status
configure
lib/scores/scores.*
*.out
*.exe
*.elf
*.map
angband.nds
lib/save/*
.project
.cproject
*.orig
*.rej
*.app
src/tests/bin/
src/angband-master
*.gcov
*.gcda
*.gcno
src/tests/ran-already
.deps
doc/manual/*.aux
mk/buildsys.mk
*~
.DS_Store
*.sublime*
