aclocal.m4
autom4te.cache/
config.log
config.status
configure
lib/scores/scores.*
*.out
*.exe
*.elf
*.map
angband
angband.nds
lib/save/*
.project
.cproject
*.orig
*.rej
*.app
src/tests/bin/
src/angband-master
*.gcov
*.gcda
*.gcno
src/tests/ran-already
.deps
doc/manual/*.aux
mk/buildsys.mk
*~
.DS_Store
*.sublime*
# Added for VS build: ignore 3 trees of VS build stuff
.vs/
Debug/
Release/
# And personal copies of the vcxproj files should not be checked into the root
/*.vcxproj*
.idea/
cmake-build-debug/
