[Desktop Entry]
Name=Angband (SDL2)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=angband -msdl2
TryExec=angband
Icon=angband
Categories=Game;RolePlaying;
