[Desktop Entry]
Name=FAangband (X11)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=faangband -mx11
TryExec=faangband
Icon=/usr/share/faangband/xtra/icon/att-32.png
Categories=Game;RolePlaying;
