body { 
  background: #efefef;
  color: black; 
  font: 16px/24px 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0; padding: 0; 
}

.front, h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville';
}

h1 { 
  margin: 0 0 1px 0; /* The line is four px up from the base of the image */
  padding: 6px 0 0 0; /* Provide a bit of "white"space above the "horns" */
  text-align: left; 
  height: 65px; /* Same height as graphic */
}

/* Make sure that the 'g' hangs over the to of the navbar */
h1 img { background: none; position: relative;  z-index: 2; }

img { border: 0; }

header {
  padding-top: 3px;
  border-bottom: 2px solid rgb(54, 89, 112);
  background-color: rgb(221, 231, 235);
  background-image: -webkit-linear-gradient(to bottom, rgb(221, 231, 235) 0%, rgb(186, 206, 215) 80px);
  background-image: linear-gradient(to bottom, rgb(221, 231, 235) 0%, rgb(186, 206, 215) 80px);
}

header a { text-decoration: none; }
header a:hover { text-decoration: underline; }

#nav { 
  display: block;
  padding: 0 0 2px 0; /* IE wants padding here as well as on the li elements */
  margin: -6px 0 0 0;
  font-size: 110%; 
  font-family: 'Open Sans', sans-serif;
}

#nav a {
  display: block; 
  position: relative;
  z-index: 1;
  float: right;
  padding: 5px 1em;
  margin: 0 2px;
  background-color: rgb(54, 89, 112);
}

#nav a { color: white; }
#nav a:hover { text-decoration: none; }

#nav a:hover, #nav a.selected {
  background-color: rgba(54, 89, 112, 0.8);
}

#nav a li {
  display: inline-block;
  margin-bottom: 0;
}

@media all and (max-width: 750px) {

  header, h1 { text-align: center; }
  h1 { height: 90px; }
  #nav {
    display: inline-block;
    margin-top: 0;
  }
  #nav li {
    display: inline-block;
    float: none;
  }

}

#dummy { clear: both; padding: 0; margin: 0; height: 0; }

#content { padding: 1em 0; margin-top: 0.5em; }
#content h2 { margin: 0; padding: 0; margin-bottom: 10px; }

#editbar { padding: 6px 0; border-bottom: 2px solid rgb(54, 89, 112); }

.container { padding: 0 30px; max-width: 50em; margin: 0 auto; }

/** Front page **/

section { clear: both; margin-bottom: 2em; }

#intro .lede { font-size: 24px; line-height: 32px; margin-bottom: 10px; margin-top: 0; }

#resources { width: 580px; margin: 0 auto; }

#downloads p { margin-top: 0; }

.slot { width: 200px; float: left; }
.slot img { border: 5px solid #000; border-radius: 5px; margin: 5px; }
.slot p { font-size: 14px; line-height: 18px; margin: 0 10px; }

@media all and (max-width: 874px) {
  #intro { max-width: 35em; margin-left: auto; margin-right: auto; text-align: center; }

	.slots { width: 400px; margin: 0 auto; }

	.slot + .slot + .slot { clear: both; margin-top: 1em; }
	.slot + .slot + .slot + .slot { clear: none; }
}

@media all and (max-width: 650px) {
	#resources { width: 100%; }
}

@media all and (max-width: 450px) {
	.slots { width: 200px; margin: 0 auto; }
	.slot { clear: both; margin: 1em auto; }
}

#downloads { text-align: center; }
#downloads a { text-decoration: none; }
#downloads .other { font-size: 14px; }
#downloads .other a { font-weight: bold; }

#download {
	display: block; margin: 0 auto; width: 10em; padding: 7px 0;
	border: 1px solid black; border-radius: 5px;
    font: 26px/20px Helvetica;
	background-color: black; color: white;
    box-shadow: 0 2px 4px 2px #aaa, inset 1px 1px 5px 1px #666;
}

#download:active { box-shadow: 0 2px 4px 2px #aaa, inset -1px -1px 5px 1px #999; }
#download .sub { font-size: 16px; font-style: italic; }

#resources { margin-top: 3em; margin-bottom: 5em; }

#resources dt a { text-decoration: none; font-weight: bold; }
#resources dd { margin-bottom: 1em; }

/** Releases section **/

#releasesnav {
  float: right;
  margin-left: 20px;
  font-size: 80%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 1em;
}

#releasesnav h3 {
  font-size: 100%;
  margin: 0.8em 0;
}

#releasesnav ul { 
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#releasesnav li { 
  display: block;
  text-align: center;
  padding-left: 0; 
  margin-left: 0; 
}

#releasesnav button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: blue;
  font-size: inherit;
}

hr { border: 0; border-top: 1px solid rgb(54,89,112); margin: 0; }

blockquote { 
  border: 1px solid rgb(54,89,112);
  border-left-width: 10px; 

  background: #CBDAE1;
  padding: 0 10px;

  margin: 0;
}

blockquote:first-child { font-size: 150%; }

.quotesource { 
  border: 1px solid rgb(54,89,112);
  border-left-width: 10px; 
  border-top: 0;

  background: #CBDAE1;
  padding-left: 10px; padding-right: 10px; 

  text-align: right; 
  margin-top: -5px; 
  padding-bottom: 2px;
}

.quotesource:before { content: "-- "; }

pre {
  padding: 10px;
  border: 1px dashed rgb(54,89,112);
  background: #CBDAE1;
}

table { margin: 10px 0;
        border-collapse: collapse; border: 0;}

td, th { padding: 5px; border: 1px solid rgb(54, 89, 112); }

table.login td, table.login th { border: 0; padding: 2px; }

p + ul { margin-top: -5px; }
li { margin-bottom: 3px; }
li > p { margin: 0px; padding-bottom: 5px; } 

.footnote_ref { vertical-align: super; font-size: 70%; }
.footnote { 
  font-size: 80%; 
  margin-top: 20px; 
  border-top: 1px solid rgb(54, 89, 112);
}
.footnote + .footnote { border: 0; margin-top: 0; }
/*.footnote_def { vertical-align: super; font-size: 70% }*/
