name: Linux

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  x11:
    name: X11
    runs-on: ubuntu-latest
    container:
      image: archlinux
    steps:
      - name: Install Build Dependencies
        run: pacman -Sy gcc make cmake libx11 --noconfirm

      - name: Clone Project
        uses: actions/checkout@v2

      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make

  ncurses:
    name: NCurses
    runs-on: ubuntu-latest
    container:
      image: archlinux
    steps:
      - name: Install Build Dependencies
        run: pacman -Sy gcc make cmake ncurses --noconfirm

      - name: Clone Project
        uses: actions/checkout@v2

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -DSUPPORT_NCURSES_FRONTEND=ON ..
          make

  sdl:
    name: SDL
    runs-on: ubuntu-latest
    container:
      image: archlinux
    steps:
      - name: Install Build Dependencies
        run: pacman -Sy gcc make cmake sdl_image sdl_ttf --noconfirm

      - name: Clone Project
        uses: actions/checkout@v2

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -DSUPPORT_SDL_FRONTEND=ON ..
          make
