name: Linux

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc cmake ninja-build libx11-dev 

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Ninja
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_C_FLAGS="-Werror" -DSUPPORT_TEST_FRONTEND=ON ..
          ninja -j$(nproc)
          ninja -j$(nproc) alltests

  x11:
    name: X11
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc cmake ninja-build libx11-dev

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Ninja
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_C_FLAGS="-Werror" ..
          ninja -j$(nproc)

  ncurses:
    name: NCurses
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc cmake ninja-build libncursesw5-dev

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Ninja
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_C_FLAGS="-Werror" -DSUPPORT_GCU_FRONTEND=ON ..
          ninja -j$(nproc)

  sdl:
    name: SDL
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc cmake ninja-build libsdl-image1.2-dev libsdl-ttf2.0-dev libsdl-mixer1.2-dev

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Ninja
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_C_FLAGS="-Werror" -DSUPPORT_SDL_FRONTEND=ON -DSUPPORT_SDL_SOUND=ON ..
          ninja -j$(nproc)

  sdl2:
    name: SDL2
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc cmake ninja-build libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-mixer-dev

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with CMake/Ninja
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_C_FLAGS="-Werror" -DSUPPORT_SDL2_FRONTEND=ON -DSUPPORT_SDL2_SOUND=ON ..
          ninja -j$(nproc)

  statbuild:
    name: Statistics Build
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc autoconf automake make libsqlite3-dev libsdl1.2-dev libsdl-mixer1.2-dev

      - name: Clone Project
        uses: actions/checkout@v4

      # Turn on sound and the test front end so more of the basic
      # infrastructure is compiled.
      - name: Build
        run: |
          ./autogen.sh
          # Prepending -Werror to ./configure does not work because it causes SDL and sqlite3 tests to fail.
          # CFLAGS is applied to the small temporary .c programs that autoconf generates and executes
          # as part of feature detection. These programs often contain warnings, which should not block
          # configure success.
          # Therefore, -Werror is applied only to the make invocation, so our own source code is treated strictly.
          env CFLAGS="-Wvla -Wlogical-op" ./configure --with-no-install --enable-stats --enable-test --enable-sdl-mixer
          env CFLAGS="-Werror" make -j$(nproc)

  makefilestd:
    name: Makefile.std
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc make libncursesw5-dev libx11-dev libsdl-image1.2-dev libsdl-ttf2.0-dev libsdl-mixer1.2-dev libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-mixer-dev libsqlite3-dev

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build
        run: |
          cd src
          sed -e 's/^# SYS_x11 =/SYS_x11 =/' -e 's/^# SYS_sdl =/SYS_sdl=/' -e 's/^# SYS_stats =/SYS_stats =/' -e 's/^# SYS_stats_objs =/SYS_stats_objs =/' -e 's/^#SOUND_sdl =/SOUND_sdl =/' -e 's/^#SOUND_sdl_objs =/SOUND_sdl_objs =/' <Makefile.std >Makefile.std.modified
          env CFLAGS="-Werror" make -f Makefile.std.modified -j$(nproc)
          make -f Makefile.std.modified clean
          sed -e 's/^# SYS_sdl2 =/SYS_sdl2 =/' -e 's/^# SYS_sdl2_objs =/SYS_sdl2_objs =/' -e 's/^#SOUND_sdl2 =/SOUND_sdl2 =/' -e 's/^#SOUND_sdl_objs =/SOUND_sdl_objs =/' <Makefile.std >Makefile.std.modified
          env CFLAGS="-Werror" make -f Makefile.std.modified -j$(nproc)
