name: Mac

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Cocoa
    runs-on: macos-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build
        run: |
          cd src
          env CFLAGS="-Werror" make -f Makefile.osx -j$(sysctl -n hw.ncpu)

  release-flags:
    runs-on: macos-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Flags Used for Release
        run: |
          cd src
          env CFLAGS="-Werror" OPT="-O2 -DNDEBUG" make -f Makefile.osx -j$(sysctl -n hw.ncpu)

  autoconf:
    runs-on: macos-latest
    steps:
      # Requires autoconf and automake; install those via homebrew (available
      # by default).
      - name: Install Build Dependencies
        run: |
          brew install m4
          brew install autoconf
          brew install automake

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build
        run: |
          ./autogen.sh
          # On a non-GitHub system with macOS 12.7.6 and Xcode 14.2, the
          # results from ncurses5.4-config agree with what is in the SDK.
          # On a GitHub system with macOS 14.7.6 and Xcode 15.4, they do
          # not agree.  Work around that.
          echo '#!/bin/sh' >hack-ncurses.sh
          echo 'if test "x$1" == x--cflags ; then' >>hack-ncurses.sh
          echo '    echo "-D_DARWIN_C_SOURCE -I/usr/include"'>>hack-ncurses.sh
          echo '    exit 0' >>hack-ncurses.sh
          echo 'fi' >>hack-ncurses.sh
          echo 'if test "x$1" == x--libs ; then' >>hack-ncurses.sh
          echo '    echo "-L/usr/lib -lncurses"' >>hack-ncurses.sh
          echo '    exit 0' >>hack-ncurses.sh
          echo 'fi' >>hack-ncurses.sh
          echo 'exit 0' >>hack-ncurses.sh
          chmod a+x hack-ncurses.sh
          ./configure --with-no-install NCURSES_CONFIG=$(PWD)/hack-ncurses.sh
          env CFLAGS="-Werror" make -j$(sysctl -n hw.ncpu)
