name: Mac

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Cocoa
    runs-on: macos-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build
        run: |
          cd src
          env OPT="-Werror" make -f Makefile.osx -j$(sysctl -n hw.ncpu)

  release-flags:
    runs-on: macos-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build with Flags Used for Release
        run: |
          cd src
          env OPT="-Werror -O2 -DNDEBUG" make -f Makefile.osx -j$(sysctl -n hw.ncpu)

  autoconf:
    runs-on: macos-latest
    steps:
      # Requires autoconf and automake; install those via homebrew (available
      # by default).
      - name: Install Build Dependencies
        run: |
          brew install m4
          brew install autoconf
          brew install automake

      - name: Clone Project
        uses: actions/checkout@v4

      - name: Build
        run: |
          ./autogen.sh
          ./configure --with-no-install --enable-curses --disable-ncursestest
          make
